%body.contens 
  = render "group"
  .chat-main
    .main__header
      .main__header__left-box
        %h2.main__header__left-box__current-group
          = @group.name
        %ul.main__header__left-box__member-list
          Member : 
        - @group.users.each do |user|
          %li.main__header__left-box__member-list__member
            = user.name
      = link_to edit_group_path(@group) do
        .main__header__edit-btn
          Edit   
    .main__messages         
      = render partial: 'message', collection: @messages
    .form
      = form_for [@group, @message], id: "new_message" do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'