%body.contens 
  = render "group"
  .chat-main
    .main__header
      .main__header__left-box
        %h2.main__header__left-box__current-group
          testtest
        %ul.main__header__left-box__member-list
          Member : 
          %li.main__header__left-box__member-list__member
            sasqno 
        %a(href="#")
          .main__header__edit-btn
            Edit   
    .main__messages         
      =render "message"
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'